%displayed {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: inherit;
}

// Function for Fonts
@mixin fonts($fontName, $fontWeight, $size) {
    font-family: $fontName;
    font-weight: $fontWeight;
    font-size: $size;
    text-transform: uppercase;
}


/*------START STYLING FOOTER--------*/

.footer-area {
    height: 15vh;
    background: $VeryDarkBlue;
    padding: 2rem;
    .footer-links ul>.links-item>a {
        @include fonts($Rajdhani, 500, 16px);
        text-transform: uppercase;
        color: $GrayishBlue;
        transition: color 200ms ease-in-out;
        text-decoration: none;
        &:hover {
            color: $SoftRed;
        }
    }
    .footer-social-media ul>li>img {
        transition: all 200ms ease-in-out;
        cursor: pointer;
        filter: invert(50%);
        &:hover {
            //color: $SoftRed;
            transform: scale(1.2);
            filter: invert(0);
        }
    }
}


/*------END STYLING FOOTER----------*/