//Colors
//Primary
$SoftBlue: rgb(83, 104, 223);
$SoftRed: hsl(0, 94%, 66%);

//Neural
$GrayishBlue: hsl(229, 8%, 66%);
$VeryDarkBlue: hsl(229, 31%, 21%);
$SmothGray: hsl(204, 8%, 90%);

//Box-shadow : effect
$ShadowEffect: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);

//Typography
// Body

$globalSize: 18px;

// Fonts
$RussOne: "Russo One", sans-serif;
$Rajdhani: "Rajdhani", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$TurretRoad: "Turret Road", sans-serif;
